---
const educacion = [

    {
        universidad: 'Politécnico Grancolombiano',
        date: '2021 - 2025',
        titulo: 'Ingeniería de Sistemas',
    },
]

const certificados = [
    {
        instituto: 'Udemy',
        date: 'Feb 2025',
        titulo: 'Desarrollo Web Completo con HTML5, CSS3, JS AJAX PHP y MySQL',
        imagen: '',
        archivo: '/certificados/CertificadoDesarrolloWebCompleto.pdf'
    },
    {
        instituto: 'Udemy',
        date: 'May 2025',
        titulo: 'Master en JavaScript 2025: Aprender JS, Angular, Node, Astro',
        imagen: '/certificados/certificadoMasterJS.avif',
        archivo: '/certificados/certificadoMasterJS.pdf'

    }
];

---
<section id="educacion" class="scroll-mt-24 py-2 bg-neutral-950 text-cyan-100">
  <div class="max-w-4xl mx-auto px-3">

    <!-- Educación formal -->
    <div class="space-y-6 mb-12">

      {
         educacion.map(educacion => (
            <div class="border-l-4 border-cyan-300 pl-4">
              <h3 class="text-2xl font-semibold">{educacion.titulo}</h3>
              <p class="text-2sm text-cyan-200">{educacion.universidad} · {educacion.date}</p>
              {/* <p class="text-sm text-gray-400 mt-1">Especialización en desarrollo de software y tecnologías web.</p> */}
            </div>
         ))
      }

    </div>

      <!-- Certificados -->
      <h3 class="text-2xl font-bold text-cyan-200 mb-4">Certificados</h3>
     
      {
          certificados.map((certificado, i) => (
            <div class="group flex flex-col justify-center content-center "
                // onclick={`document.getElementById('modal-${i}').showModal()`}
            >

               <a
                  href={certificado.archivo}
                  download 
                  class="bg-neutral-900 p-4 rounded-lg shadow border border-cyan-900 hover:cursor-pointer hover:bg-neutral-800 transition"
                >
                    <p class="text-sm md:text-1lg font-semibold">{certificado.titulo}</p>
                    <p class="text-xs md:text-sm text-cyan-300">{certificado.instituto} · {certificado.date}</p>
                </a>

                <span class="mb-2 text-xs text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex items-center">Descargar</span>

            </div>
          ))
        }
    </div>

</section>