---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import Projects from '../../components/Projects.astro';
import { projects } from '../../components/Projects.astro';


export async function getStaticPaths () {
    // const projects = await getCollection('projects');

    return projects.map((project) => ({
      params: {slug: project.slug},
      props: {project}
    }))
};

const { project } = Astro.props;

// const projects = await getCollection('projects');
// const project = projects.find((a: { slug: string | undefined; }) => a.slug === Astro.params.slug);

// import { projects } from '../../components/Projects.astro';
// import ProjectGallery from '../../components/ProjectGallery.astro';
// import TechnologyBadge from '../../components/TechnologyBadge.astro';

// const { id } = Astro.params;
// const project = projects.find(p => p.id === id);

if (!project) {
   throw new Error(`Proyecto no encontrado para slug: ${Astro.params.slug}`);
}
---

<Layout title='' description=''>
    <h1>{project.title}</h1>
    <p>{project.description}</p>

</Layout>
<!-- 
<Layout title='' description=''>
  <section class="max-w-5xl mx-auto px-4 py-10">
    <h1 class="text-4xl font-bold mb-4">{project.title}</h1>

    <p class="text-lg text-gray-600 mb-6">{project.description}</p>

    {project.images && <ProjectGallery images={project.images} />} -->

    <!-- <div class="mt-6 flex flex-wrap gap-2"> -->
      <!-- {project.technologies.map(tech => (
        <TechnologyBadge tech={tech} />
      ))} 
    </div>

    <div class="mt-8 flex gap-4">
      {project.github && (
        <a href={project.github} target="_blank" class="text-cyan-600 underline">
          Ver en GitHub
        </a>
      )}
       {project.demo && (
        <a href={project.demo} target="_blank" class="text-cyan-600 underline">
          Ver Demo
        </a>
      )} 
    </div>
  </section>
</Layout> -->
